@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --blue-background: linear-gradient(to left,
    rgba(49, 193, 219, 1),
    rgba(48, 191, 218, 1),
    rgba(44, 186, 218, 1),
    rgba(49, 193, 218, 1),
    rgba(17, 146, 215, 1),
    rgba(18, 147, 215, 1),
    rgba(26, 159, 216, 1),
    rgba(21, 152, 216, 1),
    rgba(17, 146, 215, 1));
}

.navbar {
    background: #1192D7;
}

.nav-link:hover {
    color: #085171;
}

.navbar-brand:hover{
    color: #085171;
}

body {
    background-color: #EEFDFF;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

.hero {
    background-color: white;
    border-radius: 50px;
    margin-top: 130px;
}

.blue-background {
    background: var(--blue-background);
    align-items: center;
    border-radius: 50px;
    height: 650px;
}

.hero-text {
    color: white;
    display: flex;
    justify-content: center;
}


.hero-button {
    background-color: var(--blue-background);
    font-size: 20px;
    color: white;
    border-radius: 20px;
    border: 10px solid white;
}

.hero-button:hover{
    background-color: #085171;
    border-color: white;
    color: white;
}

.hero-left-part {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    justify-content: space-between;
}

.selector {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.button-hero {
    display: flex;
    justify-content: center;
}

.hero-img-container {
    display: flex;
    justify-content: flex-end;
}

.hero-img {
    width: 80%;
}

.hero-paragraph {
    display: flex;
}

.text-hero-paragraph {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 15px;
}

.hero-bottom-part {
    display: flex;
}

.hero-bottom-part-row0 {
    display: flex;
    justify-content: space-around;
}

.hero-bottom-part-row1 {
    justify-content: space-between;
}

/* ABOUT US*/
.about-us {
    background-color: white;
    border-radius: 67px;
    margin-top: 130px;
    display: flex;
}

.text-about-us {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 25px;
}

.blue {
    color: #1192D7;
}

.img-about-us {
    border-radius: 67px;
}

.about-us-wrap-img {
    display: flex;
    justify-content: center;
}

.circle-img {
    border-radius: 40px;
}

/* ABOUT US*/


/* CATEGORIES*/
.categories-main-text {
    display: flex;
    justify-content: space-between;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 60px;
    text-decoration: underline;
    color: #1192D7;
}

.category-section {
    width: 250px;
    height: 55px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.categories-text {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 30px;
}

.circle {
    width: 35px;
    height: 35px;
    background: var(--blue-background);
    border-radius: 50%;
}

.img-A-category {
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 20px;
}

.img-B-category {
    border-radius: 50%;
    margin-left: 20px;
}

.price-section {
    width: 250px;
    height: 55px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.price-text {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 30px;
}

.category-section-custom {
    width: 100%;
    height: 100%;
    background-color: #EEFDFF;
}
/* CATEGORIES*/


/* OUR CARS*/
.our-cars {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    background-image: url('../img/jpg/Group 39.jpg');
    background-size: cover; /* This property ensures that the background image covers the entire div */
    background-position: center;
}

.row-cars {
    display: flex;
}

.slide-car {
    height: 400px;
    width: 300px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text-cars {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.our-cars-main-text {
    background-color: white;
    font-family: 'Saira Stencil One';
    font-size: 70px;
    display: flex;
    justify-content: center;
    width: 400px;
}

/* OUR CARS*/


/* MAP */
.map-section {
    margin-top: 50px;
    height: 900px;
    background-color: white;
    border-radius: 50px;
    background-image: url('../img/jpg/Group 29 (2).jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.map_wrapper {
    background-color: #EEFDFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 55px;
    height: 750px;
    width: 900px;
}

.map-text {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 60px;
    text-decoration: underline;
}

.map-container {
    display: flex;
    justify-content: center;
}

select {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* MAP */

/*COMMENTS*/
.comment {
    width: 250px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    margin: 5px;
    overflow: hidden;
    word-wrap: break-word;
    box-sizing: border-box;
    padding: 10px;
}

.user-data {
    display: flex;
    flex-direction: column;

}

.user-name {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 20px;
}

.message {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
}

.publish-date {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    padding-left: 20px;
}

.comment-button {
    background-color: #1598D8;
    width: 350px;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    font-family: 'Saira Condensed', sans-serif;
    border-radius: 43px;
    font-weight: bold;
}

.comment-wrapper {
    display: flex;
    justify-content: center;
}

.comment {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.comment.fade-in {
    opacity: 1;
}

.comment.fade-out {
    opacity: 0;
}

/*COMMENTS*/


/*REGISTRATION*/
.registration-section {
    height: 700px;
    background-color: white;
    border-radius: 40px;
    background-image: url('../img/jpg/pasted-image-0-1000x666 1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.registration-text {
    border-radius: 40px;
    background-color: #1395D8;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: white;
    height: 70px;
    width: 550px;
}

.registration-form {
    background-color: #1395D8;
    height: 450px;
    width: 400px;
    border-radius: 20px;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-registration {
    border-radius: 20px;
    width: 200px;
    color: #1395D8;
    font-weight: bold;
    border: none;
}

.button-registration:hover {
    background-color: #EEFDFF;
}

.registration-input {
    border-radius: 20px;
}
/*REGISTRATION*/

/*CAROUSEL*/
.carousel-background {
    background-image: url('../img/jpg/Group 29 (2).jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    position: relative;
    z-index: 2;
    margin-top: 100px;
}

.carousel-sub-container{
    background-color: #0543BC;
    border-radius: 20px;
}
/*CAROUSEL*/


/*FOOTER */
footer{
    background-color: #085171;
    position: relative;
    z-index: 1;
    margin-top: -50px;
}

.footer-section{
    margin-top: 20px;
    display: flex;
    font-family: 'Saira Condensed', sans-serif;
    color: white;
}

.right-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo-text{
    font-size: 50px;
    font-weight: bold;
}

.contacts__item{
    font-size: 20px;
}

.contact-subtext{
    font-size: 35px;
}

.left-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*FOOTER */